/* Introduction page */
.first {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-image: url('../images/h_img.jpg');
    height: 720px;
    text-align: center;
    padding: 180px;
    color: white;
}

.first img:last-child {
    padding: 150px;
}

/* About section */
.second {
    text-align: center;
}

h2,h4 {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

h5 {
    text-align: center;
    font-weight: bold;
}

/* services section */
.third {
    background-image: url('../images/s_image.jpg');
    background-size: cover;
    height: 350px;
    text-align: center;
    color: white;
    padding: 100px;
}

/* design section */
#design-p,
#development-p,
#product-p {
    display: none;
    text-align: center;
}