/* Introduction page */
.first {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-image: url('../images/h_img.jpg');
    height: 720px;
    text-align: center;
    padding: 180px;
    color: white;
}

.first img:last-child {
    padding: 150px;
}

/* About section */
.second {
    text-align: center;
}

h2,
h4 {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

h5 {
    text-align: center;
    font-weight: bold;
}

/* services section */
.third {
    background-image: url('../images/s_image.jpg');
    background-size: cover;
    height: 350px;
    text-align: center;
    color: white;
    padding: 100px;
}

/* design section */
#design-p,
#development-p,
#product-p {
    display: none;
    text-align: center;
}

#design-pic,
#development-pic,
#product-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* footer section */
.footer {
    width: 55%;
    margin: 0 auto;
    padding: 100px;
}

/* contact form  */
.contact {
    background-image: url('../images/c_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.contact>h2 {
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 20px;
}

#form1,
#form2,
#form3 {
    background-color: transparent;
}

textarea {
    width: 100%;
    height: 200px;
    color: white;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#sayhi ::placeholder {
    color: white;
}

#sayhi input {
    color: white;
    background-color: transparent;
}